*{
    font-family:"Microsoft YaHei","微软雅黑" ;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    font-size: 14px;
    
}
html,body{width: 100%;height: 100%;}
div,ul,li,strong,p,img{padding: 0;margin: 0}
div,input,li,button{border-radius: 2px;}
ul{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.hide{display: none!important;}
.fontArialMT{font-family:'ArialMT'}


.main{width: 100%;height: 100%;}
/******************.main .header**********************/
.main .header{width:100%;height: 50px;background-color:#30527d}
.main .header .navbar{width: 1100px;height:50px;margin: 0 auto;background-color:#30527d;border: none;position: static;}
.main .header .navbar .container-fluid{padding: 0;}
.main .header .navbar .navbar-header{width: 30%;float: left;padding: 0;margin: 0}
.main .header .navbar .navbar-collapse{width: 70%;float: left;padding: 0;margin: 0}
.main .header .navbar .navbar-collapse ul li a{color: #fff;font-size: 14px}
.main .header .navbar .navbar-collapse ul li a:hover{background-color: #3a6294}
.main .header .navbar .navbar-collapse ul li a:focus{background-color:#4f84ce ;}

#out:hover{color: red}
#out:hover,#wele_user:hover,#out:focus,#wele_user:focus{background-color: #30527d;}
.main .contentBox{width: 1100px;overflow: hidden;margin: 0 auto;padding:30px 0;}
.main .contentBox .path{width: 100%;height:40px;border-bottom: 2px solid #4f84ce}
.main .contentBox .path a,.main .contentBox .path span{font-size: 18px;}
.main .contentBox .path a:hover{text-decoration: none;}


/*.pull-left .dataTables_length label .chosen-container .chosen-drop{width: 70px}*/
.pull-left .dataTables_length>label ,.pull-left .dataTables_length>span{font-size: 14px;color: #444;font-weight: normal;}
.pull-left .dataTables_length{font-size: 14px;color: #444;font-weight: normal;}
.pull-left .dataTables_length label select{padding: 3px 4px;height: 30px;border-radius: 2px !important;}
.pull-left .dataTables_length label .chosen-drop{width:70px;}
.pull-left .dataTables_length label .chosen-drop ul.chosen-results{width: 70px;padding: 0;}
/***********分页样式*************/
.pull-right .paging_bootstrap .pagination{float: right;margin: 0}
.pull-right .paging_bootstrap .pagination>li>a{display: inline-block;height: 30px;padding: 0;width: 30px;text-align: center;line-height: 30px;border-radius: 2px !important;margin: 0 3px;font-size: 14px;color: #333;  }
.pull-right .paging_bootstrap .pagination>li.active>a{border: none;color:#428bca;background-color: #ffffff}
.pull-right .paging_bootstrap .pagination>li.disabled>a{background-color: #F9F9F9;border-color: #D9D9D9;z-index: auto;color: #999;}

/************tab*********************/
.main .contentBox .tab{width: 100%;margin-top: 20px;}

.main .contentBox .tab .table-bordered > thead > tr > th{font-size: 13px;color: #444;border-bottom: none;}
.main .contentBox .tab .table-bordered > tbody > tr > td{font-size: 12px;color: #333;}


form {display: block;margin-top: 0em;}
form .form-group{width: 50%;margin: 30px auto}
form .form-group label{font-weight: normal; width: 18%;color: #444;float: left;line-height: 30px;}
form .form-group .form-control{width: 70%;box-shadow: none;display: inline-block;}
form .form-group input[type="checkbox"]{width: 20px;height: 20px}
.red {color: red;}
.btn{display:block;width: 100px;height: 35px;line-height: 35px;color: white;border-radius: 2px;text-align: center;}
.btn:hover{background-color:#6b98d6;color: white !important;}
.bg1{background-color: #4F84CE}
.glyphicon-plus:before{font-size: 12px;}
.pageBtns {padding-top: 70px;text-align: center;}
.pageBtns .btn{text-align: center;margin-right: 30px;min-width: 70px;font-size: 14px;}
