
/******************.main .contentBox**********************/
.main .contentBox .nav-tabs{border-bottom: 1px solid #577499}
.main .contentBox .nav-tabs li{margin-right: 10px;}
.main .contentBox .nav-tabs > li > a{border: 1px solid #577499;font-size: 14px; padding: 9px 20px;color: #577499}
.main .contentBox .nav-tabs > li.active > a{background-color: #577499;color: white}
.main .contentBox .tab-content{border: 1px solid #577499;border-top: none;border-radius: 0px;padding: 20px}




