/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
        text-align: center;
        border-top:10px solid #4f84ce;
		visibility: hidden;
		top: 0; bottom: 0;
		left: 0;right: 0;margin: auto;
		width: 466px;
        height: 187px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 50px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
	.litter{width: 300px !important;height: 150px !important;padding: 0 !important;}	
	.litter>p{font-size: 14px !important;margin-top: 30px !important;}
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,0.6);
		font-weight: bold;
		cursor: pointer;
		}
.reveal-modal p{font-size: 14px;}
.reveal-modal span{
    display: inline-block;
    width: 52px;height: 32px;
    text-align: center;
    line-height: 32px;
    color: white;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.reveal-modal span.no{
    background-color: #F29C4F;
}
 .reveal-modal span.yes{
     margin-left: 0px;
     background-color: #4f84ce;
 }
.reveal-modal span.closebtn{
     margin-left: 0px;
     background-color: #4f84ce;
     margin-top: 30px;
 }