.contentBox{padding-top: 30px}
.margin_right{margin-right: 10px;}
.width_max{width: 1100px;}
.width_min{width: 544px;}
.contentBox .chart_box{height: 450px;float: left;background-color:#F8F8F8;margin-bottom: 40px;}
.contentBox .chart_box .title{width: 100%;height: 40px;background-color: #ccc;}
